* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background: rgb(54,77,204);
    background: linear-gradient(176deg, rgba(54,77,204,1) 0%, rgba(19,35,124,1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 0px 20px white;;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

.social {
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin: 10px 0px;

}

.social img {
    width: 33px;
}
/*
.links-list li {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    margin: 5px 15px;
    padding: 10px;
    font-size: 10px;
    list-style: none;  
    
}

.links {
    text-decoration: none;
}
*/

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
}

.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}

.links-list-2 {
    list-style: none;
}

.links-list-2 li {
    margin: 10px 20px;
}

.links-list-2 li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.links-list-2 li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}